* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#display {
  border: black solid 1px;
  height: 480px;
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

#display p {
  font-size: 70px;
}

#gameStart,
#display input {
  width: 75%;
  padding: 10px;
  font-size: larger;
}

#gameStart{
  background-color: white;
  border: black solid 3px;
  border-radius: 10px;
  text-align: center;
}

#gameStart:hover {
  cursor: pointer;
}