* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#display {
  border: black solid 1px;
  height: 480px;
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('./bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
}

#display p {
  font-size: 60px;
  background-color: white;
  border: black solid 5px;
  border-radius: 10px;
  padding: 6px;
}

#display ul {
  background-color: white;
  border: black solid 1px;
  border-radius: 5px;
  padding: 0 10px;
}

#display li {
  list-style-type: none;
  margin: 5px 0;
  text-align: center;
}

#gameStart,
#display input {
  width: 50%;
  padding: 10px;
  font-size: larger;
}

#gameStart {
  background-color: white;
  border: black solid 3px;
  border-radius: 10px;
  text-align: center;
}

#gameStart:hover {
  cursor: pointer;
}

#playerNameContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 80px;
}

#playerNameContainer small {
  border: black solid 1px;
  background-color: lightsalmon;
  padding: 5px;
  margin-top: 5px;
  width: 50%;
  text-align: center;
}
